!!!
%html
  %head
    %title Protonet App Market
    
    :css
      body { margin: 0; padding: 15px; }
      
      img.app {
        float: left;
        margin-right: 20px;
      }
      h1 { font-size: 4em; }
      h1, h2, h3, h4, p {
        margin: 0;
      }
      
      #home a {
        background: url(/store.png) no-repeat left;
        padding-left: 63px;
      }
      
      .wrapper { margin: 15px 15px 15px 65px; }
      
      .back {
        display: block;
        background: url(/back.png) no-repeat left;
        padding: 24px 0 24px 50px;
        opacity: 0.5;
        text-decoration: none;
      }
      .back:hover { opacity: 1; }
  %body
    %a.back{:href => "/"} back to app list
    
    %img.app{:src => icon_url(app, 'large'), :width => 256, :height => 256}
    .wrapper
      %h1= h(@app['title'])
      %h2
        by
        %a{:href => @app['author']['homepage']}= h(@app['author']['name'])
      %p= h(@app['description'])
      - if @installs.any?
        %p.status Installed
